/*header开始*/
body{
    height: 2000px;
}
#header{
    background: url("../img/banner33.jpg") no-repeat center center;/*../是指上一层*/
    height: 600px;
}
#header h1 {
    width: 380px;
    height: 100px;
    text-align: center;
}

#cart.title{
    display: block;
    width: 260px;
    height: 30px;
    background: #000;
    opacity: .5;/* 取值范围0~1 */
    filter: alpha(opacity=50);/* ie下  取值范围0~100 */
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 25px;
    line-height: 0;

}
#q-cart{
    color: #ffffff;
    position: relative;
    right: 200px;
    top: 34px;
}
.title{
    color: #fff;
    float: left;
}
#cart img{
    vertical-align: middle;
}

#main-header {
    height: 100px;
    line-height: 100px;
}
#login{
    width: 380px;
    height: 100px;
}
.menu{
    float: left;
    width: 190px;
    height: 40px;
    background:#fa558f;
    line-height: 40px;
}

#nav a{
    color: #ffffff;
    width: 190px;
    height: 40px;
    display: block;
    text-align: center;
}
.menu a:hover{
    background: #3c3b3b;

}
#sub a:hover{
    text-decoration: underline;
    background: none;
}
.menu:hover #sub/*当鼠标滑到menu时 sub变成块*/{
    display: block;
}
.list{
    width: 180px;
    height: 300px;
    margin-left: 10px;
    float: left;
}
#sub{
    width: 1140px;
    height: 300px;
    background: pink;
    margin-left: -190px;
    display: none;
}
#sub a{
    color: #000;
}
.head-title{
    color: #ffffff;
    font-weight: 700;
    font-size: large;
    text-align: center;
}
/*new-product开始*/
#new-product{
    height: 266px;
}
.sale{
    width: 360px;
    height: 210px;
    margin-top: 30px;
    overflow: hidden;
    float: left;
    margin-left: 14px;
}
.sale.bg1{
    background: url("../img/bg1.jpg");
}
.sale.bg2{
    background: url("../img/bg2.jpg");
}
.sale.bg3{
    background: url("../img/bg3.jpg");
}
.sale h4{
    color: #ffffff;
    font-weight: 800;
    font-size: 30px;
    margin-top: 160px;
    margin-left: 230px;
}
/*product开始*/
#product{
    height: 1000px;

}
.product-info{
    width: 340px;
    height: 420px;
    margin-top: 30px;
    border: 1px solid #cccccc;
    float:left;
    margin-left: 30px;
    margin-bottom: 30px;
}
.product-info span{
    background-color: deeppink;
    color: #ffffff;
    width: 41px;
    height: 30px;
    float: right;
    line-height: 30px;
    text-align: center;
}
.product-info img{
    width: 248px;
    height: 248px;
    border: 1px solid #ccc;
}
.product-detail h4{
    margin-top: 10px;
    margin-bottom: 10px;
}
.product-detail input {
    margin-top: 10px;
    margin-bottom: 10px;
}
.product-detail{
    width: 340px;
    height: 192px;
    background-color:lightgray;
    overflow: hidden;
}
.product-detail button{
    width: 150px;
    height: 50px;
    background-color: orange;
    font-size: large;
    font-weight: 700;
}
/*product结束*/
/*problem开始*/
#problem{
    height: 400px;
    background: url("../img/banner2.jpg")  center no-repeat;
}
#problem .wrapper{
    width: 1000px;
}
.shopping-list{
    float: left;
    margin-top: 100px;
    margin-left: 70px;

}
.shopping-list li{
    list-style: disc;
    color: #ffffff;
}
.shopping-list a{
    color: #ffffff;
    line-height: 2;
}
.shopping-list a:hover{
    text-decoration: underline;
}
.top-name a{
    font-weight:700;
}
/*problem结束*/
/*footer开始*/
#footer{
    width: 1903px;
    height: 82px;
    background-color: pink;
    overflow: hidden;
}
#footer h3{
    margin-top: 30px;
    margin-left: 80px;
}
#footer h4{
    float: right;
    margin-right: 60px;

}