/*header开始*/

#header{
    background: url("../img/banner33.jpg") no-repeat center center;/*../是指上一层*/
    height: 600px;
}
#header h1 {
    width: 380px;
    height: 100px;
    text-align: center;
}

#cart {
    /*background-color: #000;*/
    /*width: 300px;*/
    /*height: 50px;*/
    /*opacity: 0.5; /!*取值范围0~1*!/*/
    /*filter: alpha(opacity=50); /!*IE6 取值范围1~100*!/*/
    /*color: #ffffff;*/
    /*text-align: center;*/
    /*padding: 10px 20px;*/
    /*cursor: pointer; /!*鼠标经过的时候会变成小手*!/*/
    display: block;
    width: 300px;
    height: 50px;
    background: #000;
    opacity: .5;/* 取值范围0~1 */
    filter: alpha(opacity=50);/* ie下  取值范围0~100 */
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 25px;
    line-height: 0;

}
.title{
    color: #fff;
    float: left;
}
#cart img{
    vertical-align: middle;
}

#main-header {
    height: 100px;
    line-height: 100px;
}
#login{
    width: 380px;
    height: 100px;
}
.menu{
    float: left;
    width: 190px;
    height: 40px;
    background:#fa558f;
    line-height: 40px;
}

#nav a{
    color: #ffffff;
    width: 190px;
    height: 40px;
    display: block;
}
.menu a:hover{
    background: #3c3b3b;

}
#sub a:hover{
    text-decoration: underline;
    background: none;
}
.menu:hover #sub/*当鼠标滑到menu时 sub变成块*/{
    display: block;
}
.list{
    width: 180px;
    height: 300px;
    margin-left: 10px;
    float: left;
}
#sub{
    width: 1140px;
    height: 300px;
    background: pink;
    margin-left: -190px;
    display: none;
}
#sub a{
    color: #000;
}
.head-title{
    color: #ffffff;
    font-weight: 700;
    font-size: large;
}